.fourOFour {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 0 0rem 0;
    box-sizing: border-box;
  }
  .fourOFour .container {
    margin-left: 30rem;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 10rem;
    letter-spacing: 1.3rem;
    color: #000000;
  }
  .fourOFour .page-not-found {
    margin: 0 0.3rem 0rem 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    color: #000000;
  }
  .fourOFour .oops-the-page-you-looking-for-does-not-exist {
    margin-bottom: 9.8rem;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.9rem;
    letter-spacing: 0.1rem;
    color: #000000;
  }
