/* Change the color of the nav bar */
.navbar-custom{
    background-color: #FF8000;
    height:3rem;
}

/* Do some modification of the image */
.navbar-brand img {
    width: 12.25rem;  
    height: 1.75rem;    
    position: relative;
    top: -0.2rem;      
    left: -4rem;      
}
