.restaurant {
    border-radius: 0.8rem;
    border: 0.05rem solid #EAEAEA;
    background: linear-gradient(90deg, #FFF2E5, #FFFFFF), linear-gradient(#FFFFFF, #FFFFFF);
    position: relative;
    margin-right: 0rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
    width: 37.5rem;
    box-sizing: border-box;
  }

.restaurant .col:first-child {
    flex: 3; /* First column takes more space */
    margin-top: 0rem;
}

.restaurant .col:last-child {
  flex: 1; /* First column takes more space */
  margin-top: 0rem;
  font-size: 1.5rem;
  padding: 
  0.5rem 0rem 0rem 1.5rem;
  text-align: center;
}

.restaurant .row:first-child{
    margin-top: 0.1rem;
    margin-left: 1rem;
    font-size: 1rem; 
    text-align: start; 
    font-weight: bold;
}

.restaurant .row:last-child {
    margin-top: 0.1rem;
    margin-left: 1.7rem;
    margin-bottom: 0; 
    font-size: 0.8rem;
    color: #979797;
}





 