.restaurant {
    border-radius: 0.8rem;
    border: 0.05rem solid #EAEAEA;
    background: linear-gradient(90deg, #FFF2E5, #FFFFFF), linear-gradient(#FFFFFF, #FFFFFF);
    position: relative;
    margin-right: 0rem;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0rem 0.7rem 0rem;
    width: 37.5rem;
    height:5.5rem;
    box-sizing: border-box;
  }

.restaurant .col:first-child {
    flex: 3;
    margin-top: 0rem;
    margin-left: -0.5rem;
}

.restaurant .col:last-child {
  flex: 1; 
  margin-top: 0rem;
  font-size: 1.2rem;
  padding: 
  0.5rem 0rem 0rem 1.5rem;
  text-align: center;
}

.restaurant .row:first-child{
    margin-top: 0.1rem;
    margin-left: 1rem;
    font-size: 0.8rem; 
    text-align: start; 
    font-weight: bold;
}

.restaurant .row:last-child {
    margin-top: 0.1rem;
    margin-left: 1.7rem;
    margin-bottom: 0; 
    font-size: 0.65rem;
    color: #979797;
}

.restaurant .custom-badge { 
  color:#3bb8eefe; 
  font-weight: bold;
  padding: 0.15rem 0.2rem; /* Padding around text */
  font-size: 0.55rem; 
  position: relative;
  top: 0rem; 
  left: 0.2rem; 
}





 